*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color:rgb(237, 205, 165); */
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
    background-image: url("istockphoto-1577713699-1024x1024.jpg");
    /* position: relative; */
    /* background-image:url("pexels-pixabay-60597.jpg"); */
}
.score{
    width:30%;
    height:40px;
  
    line-height: 40px;
    background-color: aquamarine;
    color: rgb(224, 12, 12);
    box-shadow:1px 1px 1px rgb(36, 36, 77);
}
 .p{
    color: rgb(235, 5, 5);
    position: absolute;
    top:50%;
    left:15%;
    z-index: 2222;
}
.ph{
    display: none;
}
.ecar{
    /* background-color:black;
    height: 20px;
    width: 20px; */
    /* background-color: rgb(22, 7, 7); */
    background-color: transparent;
    height:20px;
    width:20px;
    /* margin:auto;
    margin-bottom: 15px; */
    /* animation:ci infinite linear 3s;
    background-repeat: repeat-y; */
    position: absolute;
    left: 35%;
}
.game_area{
    width:350px;
    height:580px;
    /* height:100%; */
    /* background-color:rgb(162, 241, 217); */
    /* display: flex; */
    /* align-items: center;
    justify-content:flex-end;  */
    border: 1px solid rgb(42, 42, 77);
    box-shadow:1px 1px 1px rgb(42, 42, 77);
    /* background-image: url("istockphoto-1577713699-1024x1024.jpg"); */
    background-color: rgb(90, 93, 93);
    /* background-size: cover;
    background-repeat:repeat-y;  */
    /* display: none; */
    position: relative; 
    /* animation:anima 6s linear infinite; */
    
}
@keyframes anima{
    /* 0%{
        transform: translateY(100vh);
    } */
    100%{
        transform: translateY(500vh);
    }
}
.whole_game{
    margin-left: 100px;
    height:100%;
    /* position: absolute;
    left: 30%; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}
/* .ca{
    height:29px;
    width:20px;
    /* position:absolute; */
    /* left:0%;
    top:50%; */
    /* border-radius:2px; */
    /* margin:0; */

    /* background-color:rgb(190, 25, 25); */
    
    /* animation:ca 2s linear infinite; */

    
/* }  */
@keyframes ca{
    100%{
    transform:translateY(-500px);
    }
}

.enemy{
    height:29px;
    width:20px;
    /* display:grid; */
    margin-bottom: 2px;
    
    /* margin: 30px; */
    /* position:absolute; */
    /* left:0%;
    top:200px;
    border-radius:2px;
    margin:0; */

    /* background-color:rgb(28, 13, 51); */
    /* animation:c 2s linear infinite; */

    
}
.eneall{
    /* background-color: brown; */
}

.car5{
    height: 20px;
    width: 20px;
    background-color: rgb(249, 5, 5);
    position: absolute;
    top:450px;
    left: 150px;
    
}
.u{
    background-color: rgb(236, 233, 233);
    height:30px;
    width:5px;
    /* margin:auto;
    margin-bottom: 15px; */
    /* animation:ci infinite linear 3s;
    background-repeat: repeat-y; */
    position: absolute;
    left: 45%;
}
@keyframes ci{
    100%{
    transform:translateY(500px);
    }
}

@keyframes c{
    0%{
      transform: translateX(6px);
    }
    25%{
        transform: translateX(-6px);
    }
    50%{
        transform: translateX(6px);
    }
    25%{
        transform: translateX(-6px);
    }
}
 .ca1{
   
    height:29px;
    width:20px;
    /* margin:0 auto; */

    background-color:rgb(200, 197, 197);
    z-index: 1111;
    animation: ani 5s linear infinite;
    
    /* position: absolute; */

}
@keyframes ani{
    0%{
       margin-top:0%;
    }
    10%{
        margin-top:10%;
    }
    20%{
        margin-top:20%;
    }
    30%{
        margin-top:30%;
    }
    40%{
        margin-top:40%;
    }
    50%{
        margin-top:50%;
    }
    60%{
        margin-top:60%;
    }
    70%{
        margin-top:70%;
    }
    80%{
        margin-top:80%;
    }
    90%{
        margin-top:90%;
    }
    100%{
        margin-top:100%;
    }
    110%{
        margin-top:110%;
    }
    120%{
        margin-top:120%;
    }

    /* 10%{
        
    }
    10%{
        
    }
    10%{
        
    } */
}